{% load static %}

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{% url 'pages:index' %}" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <h1 class="sitename">Lions Football Academy</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <!-- <li><a href="{% url 'pages:index' %}" {% if request.resolver_match.url_name == 'index' %}class="active"{% endif %}>Home</a></li> -->
          
          <li><a href="{% url 'pages:index' %}#about" {% if request.resolver_match.url_name == 'index' and '#about' in request.get_full_path %}class="active"{% endif %}>About</a></li>
          <li><a href="{% url 'pages:index' %}#programs" {% if request.resolver_match.url_name == 'index' and '#programs' in request.get_full_path %}class="active"{% endif %}>Training Programs</a></li>
          <li><a href="{% url 'pages:index' %}#team" {% if request.resolver_match.url_name == 'index' and '#team' in request.get_full_path %}class="active"{% endif %}>Our Coaches</a></li>
          <li><a href="{% url 'gallery:gallery' %}" {% if 'gallery' in request.path %}class="active"{% endif %}>Gallery</a></li>
          <li><a href="{% url 'pages:index' %}#contact" {% if request.resolver_match.url_name == 'index' and '#contact' in request.get_full_path %}class="active"{% endif %}>Contact</a></li>
          <li><a href="https://www.soccerunited.co.nz/?keyword_k=soccer+united&gad_source=1&gad_campaignid=20709391603&gbraid=0AAAAAoROBBkVOxSgcZ6HOOoWNdWIqjC9Q&gclid=Cj0KCQjw-ZHEBhCxARIsAGGN96LbLstudP9GrrA3-JvdNBKUdpjVVPDldWKZXVowEuC6-60wI-VRXcQaAmnaEALw_wcB&fbclid=IwY2xjawLyurhleHRuA2FlbQIxMABicmlkETE4c0g4TWRCMTRaSDJ5SEhUAR6lKisQGd_3JNJ2isVZE_iEEXa9SKWC-F3pdRYgV_FpFCsl_ybnj1Jx4NeRbw_aem_av2Xop5ynA3XWAigsTLquw" target="_blank">Shop</a></li>
          <!-- <li><a href="{% url 'accounts:register' %}">Register</a></li> -->
          <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>        -->
          {% if user.is_authenticated %}
        <form method="post" action="{% url 'accounts:logout' %}" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger flex-md-shrink-0">Logout</button>
        </form>
      {% else %}
        <a class="btn-getstarted flex-md-shrink-0" href="{% url 'accounts:register' %}">Register Now</a>
      {% endif %}
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      

    </div>
  </header>